.login-options-auth-options{
    display: flex;
    flex-direction: column;
    align-items: center
}


.customButton {
    background: white;
    border: 0px;
    cursor: pointer; 
    padding: 10px; 
    transition: background-color 0.3s ease; 
}

.customButton:hover {
    background-color: #f0f0f0; 
}
